# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#ignore machine models
src/__pycache__/flask.cpython-312.pyc
backend/my_flower_classifier_model/variables/variables.index
backend/my_flower_classifier_model/variables/variables.data-00000-of-00001
backend/my_flower_classifier_model/saved_model.pb
backend/my_flower_classifier_model/keras_metadata.pb
backend/my_animal_classifier_model.h5
